body
  background-color darken(white, 10%)
  font-family: 'Slabo 27px', Helvetica, Arial, sans-serif;

.wrapper
  padding: 20px

input
  border-radius: 0
  border: 1px solid #aaa
  height: 30px
  line-height: 30px
  width: 300px
